10-Image-Processor-Using-Step-Functions/01-State-Machine.json
{
    "StartAt": "GetFileType",
    "States": {
        "GetFileType": {
            "Type": "Pass",
            "Next": "CheckFileType"
        },
        "CheckFileType": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.results.fileType",
                    "StringEquals": "jpg",
                    "Next": "ProcessFile"
                }
            ],
            "Default": "DeleteSourceFile"
        },
        "DeleteSourceFile": {
            "Type": "Pass",
            "End": true
        },
        "ProcessFile": {
            "Type": "Parallel",
            "Next": "WriteToDynamoDB",
            "Branches": [
                {
                    "StartAt": "CopyToDestination",
                    "States": {
                        "CopyToDestination": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "ResizeImage",
                    "States": {
                        "ResizeImage": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                }
            ]
        },
        "WriteToDynamoDB": {
            "Type": "Pass",
            "Next": "DeleteSourceFile"
        }
    }
}