10-Image-Processor-Using-Step-Functions/01-State-Machine.json
{
    "StartAt": "GetFileType",
    "States": {
        "GetFileType": {
            "Type": "Task",
            "Resource": "arn:aws:states:ap-south-1:983038403:stateMachine:getFileType",
            "TimeoutSeconds": 3,
            "ResultPath": "$.results.fileType",
            "Next": "CheckFileType",
            "Catch": [
                {
                    "ErrorEquals": ["States.ALL", "States.Custom_Error_Name"],
                    "Next": "QuitMain"
                }
            ]
        },
        "CheckFileType": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.results.fileType",
                    "StringEquals": "jpg",
                    "Next": "ProcessFile"
                }
            ],
            "Default": "DeleteSourceFile"
        },
        "DeleteSourceFile": {
            "Type": "Task",
            "Resource": "arn:aws:states:ap-south-1:983038403:stateMachine:deleteSourceFile",
            "TimeoutSeconds": 3,
            "ResultPath": "$.results.deletionStatus",
            "OutputPath": "$.results",
            "Catch": [
                {
                    "ErrorEquals": ["States.ALL", "States.Custom_Error_Name"],
                    "Next": "QuitMain"
                }
            ],
            "End": true
        },
        "ProcessFile": {
            "Type": "Parallel",
            "Next": "WriteToDynamoDB",
            "Branches": [
                {
                    "StartAt": "CopyToDestination",
                    "States": {
                        "CopyToDestination": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "ResizeImage",
                    "States": {
                        "ResizeImage": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                }
            ]
        },
        "WriteToDynamoDB": {
            "Type": "Pass",
            "Next": "DeleteSourceFile"
        },
        "QuitMain": {
            "Type": "Fail",
            "Error": "GenericError",
            "Cause": "An error occured while executing the State Machine"
        }
    }
}