10-Image-Processor-Using-Step-Functions/01-State-Machine.json
{
    "StartAt": "GetFileType",
    "States": {
        "GetFileType": {
            "Type": "Task",
            "Resource": "arn:aws:states:ap-south-1:983038403:stateMachine:getFileType",
            "TimeoutSeconds": 3,
            "ResultPath": "$.results.fileType",
            "Next": "CheckFileType",
            "Catch": [
                {
                    "ErrorEquals": ["States.ALL", "States.Custom_Error_Name"],
                    "Next": "QuitMain"
                }
            ]
        },
        "CheckFileType": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.results.fileType",
                    "StringEquals": "jpg",
                    "Next": "ProcessFile"
                }
            ],
            "Default": "DeleteSourceFile"
        },
        "DeleteSourceFile": {
            "Type": "Task",
            "Resource": "arn:aws:states:ap-south-1:983038403:stateMachine:deleteSourceFile",
            "TimeoutSeconds": 3,
            "ResultPath": "$.results.deletionStatus",
            "OutputPath": "$.results",
            "Catch": [
                {
                    "ErrorEquals": ["States.ALL", "States.Custom_Error_Name"],
                    "Next": "QuitMain"
                }
            ],
            "End": true
        },
        "ProcessFile": {
            "Type": "Parallel",
            "ResultPath": "$.results.images",
            "Next": "WriteToDynamoDB",
            "Branches": [
                {
                    "StartAt": "CopyToDestination",
                    "States": {
                        "CopyToDestination": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:ap-south-1:983038403:stateMachine:copyFile",
                            "TimeoutSeconds": 3,
                            "ResultPath": "$.image.original",
                            "OutputPath": "$.image",
                            "End": true,
                            "Retry": [
                                {
                                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                                    "IntervalSeconds": 5,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2.0
                                },
                                {
                                    "ErrorEquals": ["States.All"],
                                    "IntervalSeconds": 2,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2.0
                                }
                            ],
                            "Catch": [
                                {
                                    "ErrorEquals": ["States.All"],
                                    "Next": "QuitCopy"
                                }
                            ]
                        },
                        "QuitCopy": {
                            "Type": "Fail",
                            "Error": "CopyError",
                            "Cause": "An error occured while executing the CopyToDestination task"
                        }
                    }
                },
                {
                    "StartAt": "ResizeImage",
                    "States": {
                        "ResizeImage": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:ap-south-1:983038403:stateMachine:resizeImage",
                            "TimeoutSeconds": 3,
                            "ResultPath": "$.image.resized",
                            "OutputPath": "$.image",
                            "End": true,
                            "Retry": [
                                {
                                    "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                                    "IntervalSeconds": 5,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2.0
                                },
                                {
                                    "ErrorEquals": ["States.All"],
                                    "IntervalSeconds": 2,
                                    "MaxAttempts": 2,
                                    "BackoffRate": 2.0
                                }
                            ],
                            "Catch": [
                                {
                                    "ErrorEquals": ["States.All"],
                                    "Next": "QuitResize"
                                }
                            ]
                        },
                        "QuitResize": {
                            "Type": "Fail",
                            "Error": "CopyError",
                            "Cause": "An error occured while executing the ResizeImage task"
                        }
                    }
                }
            ]
        },
        "WriteToDynamoDB": {
            "Type": "Task",
            "Next": "DeleteSourceFile",
            "Resource": "arn:aws:states:ap-south-1:983038403:stateMachine:writeToDynamoDB",
            "TimeoutSeconds": 3,
            "ResultPath": "$.results.writeStatus",
            "Catch": [
                {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "QuitMain"
                }
            ]
        },
        "QuitMain": {
            "Type": "Fail",
            "Error": "GenericError",
            "Cause": "An error occured while executing the State Machine"
        }
    }
}